<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinuedu.board.lecture.model.mapper.LectureMapper">
	<select id="selectLectureList">
		select *
		from LECTURE
			join category using(cg_no)
		<if test="lecNo != null">
		where LEC_NO= #{lecNo}
		</if>
		order by LEC_NO
	</select>
	
	<select id="chapterCount">
		select count(*)
		from chapter
		where LEC_NO = #{lecNo}
	</select>
	
	<select id="selectLecture">
		select *
		from chapter
		where LEC_NO = #{lecNo}
	</select>
	
	<select id="selectChapter">
		select *
		from chapter
			 join LECTURE using(LEC_NO)
			 join CATEGORY using(CG_NO)
		where CHAP_NO = #{chapNo}
	</select>
	
	<insert>
		insert into VIEW_CHAPTER
		values(#{chapNo}, #{userNo}, null)
	</insert>
	
	<update id="rating">
		update set VIEW_CHAPTER
	</update>
</mapper>

