<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinuedu.board.qna.model.mapper.QnaMapper">

	<select id = "getListCount">
		select count(*)
		from qna
			 join users on(WRITER = USER_NO)
			 join category using(CG_NO)
		<if test="condition != null">
		WHERE ${condition} LIKE '%${search}%'
		</if>
	</select>

	<select id="selectBoardList">
		select *
		from qna
			 join users on(WRITER = USER_NO)
			 join category using(CG_NO)
		<if test="condition != null">
		WHERE ${condition} LIKE '%${search}%'
		</if>
		order by QNA_NO desc
	</select>
	
	<select id="selectReply">
		select *
		from reply
			 join users using(USER_NO)
		where qna_no = #{qNo}
		order by REP_NO desc
	</select>
	
	<update id="updateCount">
		update QNA 
		set VIEWS = VIEWS + 1 
		where QNA_NO = #{QNA_NO}
	</update>
	
	<insert id="insertBoard">
		insert into qna
		values(QNA_SEQ.nextval, #{qnaTitle}, #{qnaDetail}, #{writer}, 
		sysdate, sysdate, #{views}, #{cgNo}, #{notice})
	</insert>
	
	<insert id="insertReply">
	 <selectKey order="BEFORE" resultType="_int" keyProperty="repNo">
      <!-- 수행되기 전에 내가 먼저 수행이 되겠다 -->
         select REPLY_SEQ.nextval from dual
      </selectKey>
		insert into reply
		values (#{repNo}, #{repComment}, #{userNo}, #{qnaNo})
	</insert>
	
	<!-- 인서트리플리,,,다시 고쳐야함.....하... -->
	
	
	<select id="selectBoard">
		select *
		from qna
			 join users on(WRITER = USER_NO)
			 join category using(CG_NO)
		where QNA_NO =#{qnaNo}
	</select>
	
	<select id="selectCategory">
		select *
		from category
	</select>
		
	<update id="updateBoard">
		update qna
		set QNA_TITLE = #{qnaTitle}, QNA_DETAIL = #{qnaDetail}, UPDATE_DATE = sysdate, CG_NO = #{cgNo} 
		where QNA_NO = #{qnaNo}
	</update>
	
	<!-- 검색 -->
    <select id="searchDetail">
        SELECT *
        FROM qna join users on(WRITER = USER_NO)
        WHERE 
        ${condition} LIKE '%${search}%'
    </select>

    <!-- 전체 검색 (작성자, 제목, 내용) -->
    <select id="searchAll">
        SELECT *
        FROM qna
        WHERE user_nick LIKE '%${search}%'
           OR qna_title LIKE '%${search}%'
           OR qna_detail LIKE '%${search}%'
    </select>
	
	<delete id="deletePost">
        delete from qna
        where QNA_NO =#{qnaNo}
	</delete>
	
</mapper>